// CheckOut.scss
.box {
  font-family: sans-serif;
  margin-top: 250px;
  margin-bottom: 250px;

  h1 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 20px;
    width: 552px;
  }
  p {
    font-size: 20px;
  }
}

input {
  display: block;
  width: 340px;
  padding: 8px 8px 8px 0px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid black;
  height: 40px;
  font-size: 15px;
}

.info__block {
  width: 350px;
  display: flex;
  gap: 313px;
  p {
    margin-bottom: 20px;  
    font-size: 25px;
    font-weight: 500;
  }
  label {
    display: block;
    margin-bottom: 12px;
    color: #868686;
    font-size: 15px;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 81px;
  }
}

.buyers__details {
  p {
    margin-bottom: 47px;
  }
  input:not(:last-child) {
    margin-bottom: 35.5px;
  }
}

.recipients__address {
  p {
    margin-bottom: 47px;
  }
  input:not(:last-child) {
    margin-bottom: 35.5px;
  }
}

.your__order {
  max-width: 303px;
  &__name__and__price {
    display: flex;
    gap: 110px;
    justify-content: center;
    section {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.result {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  gap: 185px;
  background-color: #edeb73d0;
  margin-top: 15px;
}
.payment__method {
  width: 246px;
  height: 68px;
  display: flex;
  flex-direction: column;
  gap: 47px;
  input {
    width: 22px;
    height: 22px;
  }
  button {
    border: none;
    width: 100%;
    background: rgb(110, 156, 159);
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 138.9%;
    letter-spacing: 2%;
    padding: 22px 50px;
  }
}
